<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS_HOME" value="./logs/" />
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./logs/file.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} | %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="agency-info" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="agency-warn" level="WARN" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="agency-error" level="ERROR" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>
