.pageWrapper {
    display: flex;
    flex-direction: row;
    
}

.searchResults{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background-color: rgb(241, 249, 255);
}

.rightSide {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100rem;
    width: calc(50%);
    background-color:  rgb(255, 255, 255);
}

.right {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: calc(100vh);
    width: calc(100%);
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255)), 
                linear-gradient(to bottom, rgba(255, 255, 255, 0) 90%, rgb(255, 255, 255)),
        url('../../images/agency.jpg') center/cover;
}

.operationDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.note{
    font-size: 14px;
    color:rgb(80, 139, 187);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.customSelect{
    width: 20%;
    height: 2.5rem;
    border: 1px solid rgb(126, 152, 192);
    background-color: #f8f8f8;
    font-size: 1rem;
    padding-left: 0.1rem;
    font-family: inherit;
    outline: none;
    color: #727272;
}

.search {
    width: 80%;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    background-color: #edecec;
    border: none;
    height: 2.5rem;
}


.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 100rem;
    padding-left: 5rem;
    padding-top: 1%;
}


.caption {
    color: rgb(126, 152, 192);;
    font-size: 3.5rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.container{
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-left: 10vw;
    margin-bottom: 150vh;
    margin-right: 50vw;
}

.checkboxDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkboxDiv input[type="checkbox"] {
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  margin-top: 1em;
  border: 0.15em solid #007a7e;
  outline: none;
  cursor: pointer;
}

.btnDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 8rem;
    height: 2.5rem;
    background-color: rgb(126, 152, 192);
    color: white;
    border: none;
    margin-top: 1rem;
    font-family: inherit;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(87, 130, 153);
}

.icon {
    color: rgb(91, 91, 91);
}

@media (max-width: 60rem) {

    .caption {
       font-size: 3rem;
    }

}

@media (max-width: 40rem) {

    .caption {
        font-size: 2.5rem;
    }

}

